 ﻿<settings>
 
  <category label="Configuración General">
        <setting type="lsep" label="Para su buen funcionamiento pinchar en" option="close" action="RunPlugin(plugin://plugin.video.ntertiment/?mode=7)" />
        <setting type="lsep" label="POR DEFECTO y luego en OK" option="close" action="RunPlugin(plugin://plugin.video.ntertiment/?mode=7)" />
		<setting id="ask_playlist_items" type="bool" label="Elegir Fuente de Video" default="true" visible="false"/>
        <setting id="add_playlist" type="bool" label="Activar Multilink" default="true" visible="true"/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"visible="true"/>
        <setting id="donotshowbychannels" label="Ocultar Canales" type="bool" default="false" visible="true"/>
  </category>

<category label="Add Source">
    <setting id="choose_source" type="enum" values="Choose File|Enter URL" label="Choose Source Type" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Choose File" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Add URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Add Source" option="close" action="RunPlugin(plugin://plugin.video.ntertiment/?mode=7)" />
    <setting type="sep" />
    <setting id="searchotherplugins" label="Search Other plugins" type="bool" default="false"/>
    <setting id="Urlsolvervsgensis" type="enum" values="Urlsolver|Genesis" label="Stream FileLocker site with:" default="Urlsolver"/>
    <setting id="YoutubedlALT" type="enum" values="plugin|module" label="Change to youtubedl module if plugin dont work" default="plugin"/>    
</category>
</settings>   
